name: Metrics
on:
  schedule:
    - cron: "0 0 * * *" # atualiza todo dia
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: klaytonmelo
          template: classic
          base: header, activity, community, repositories
          config_timezone: America/Belem
